$path-images: 'assets/img/shared/';
@import './node_modules/design-system/_sass/reusable-components/design-system-config';
@import './node_modules/design-system/_sass/reusable-components/design-system-reset';
@import './node_modules/design-system/_sass/reusable-components/design-system-colors';
@import './node_modules/design-system/_sass/reusable-components/design-system-util-typo-fix';

@import './node_modules/design-system/_sass/design-system-website/webfonts-hx';

@import './node_modules/design-system/_sass/reusable-components/design-system-links-icons';
@import './node_modules/design-system/_sass/reusable-components/design-system-layout-modules';
@import './node_modules/design-system/_sass/reusable-components/design-system-forms';
@import './node_modules/design-system/_sass/pm-styles/pm-buttons';
@import './node_modules/design-system/_sass/pm-styles/pm-containers';
@import './node_modules/design-system/_sass/pm-styles/pm-forms';
@import './node_modules/design-system/_sass/pm-styles/pm-loadingcontent';

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background: $white;
    color: $pm-global-grey;
}

.input {
    flex: 4;
}

.field-select {
    flex: 3;
    margin-left: 1em;
    align-items: center;
}
.suggestions-item + .suggestions-item {
    margin-top: 0.5rem;
}

.loader {
    width: 2rem;
    height: 2rem;
}

/* We can't use the rwd from design-system as the iframe is too small even on desktop */
@media screen and (max-width: 450px) {
    .field-select {
        margin-left: 0;
    }

    .onmobile-flex-column {
        flex-direction: column;
    }
    .onmobile-flex-column > * {
        width: 100%;
        flex-basis: auto;
    }
    .onmobile-min-w100 {
        min-width: 100%;
    }
    .onmobile-mb1 {
        margin-bottom: 1em;
    }
}
