$path-images: 'assets/img/shared/';
@import './node_modules/design-system/_sass/reusable-components/design-system-config';
@import './node_modules/design-system/_sass/reusable-components/design-system-reset';
@import './node_modules/design-system/_sass/reusable-components/design-system-colors';
@import './node_modules/design-system/_sass/reusable-components/design-system-util-typo-fix';

@import './node_modules/design-system/_sass/design-system-website/webfonts-hx';

@import './node_modules/design-system/_sass/reusable-components/design-system-links-icons';
@import './node_modules/design-system/_sass/reusable-components/design-system-layout-modules';
@import './node_modules/design-system/_sass/reusable-components/design-system-forms';
@import './node_modules/design-system/_sass/pm-styles/pm-buttons';
@import './node_modules/design-system/_sass/pm-styles/pm-containers';
@import './node_modules/design-system/_sass/pm-styles/pm-forms';
@import './node_modules/design-system/_sass/pm-styles/pm-loadingcontent';

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background: $white;
    color: $pm-global-grey;
}

.field-select {
    align-items: center;

    &::before {
        content: '@';
        width: 1rem;
        margin: 0 1rem;
    }
}
.suggestions-item + .suggestions-item {
    margin-top: 0.5rem;
}

.loader {
    width: 2rem;
    height: 2rem;
}

input[class*='input-error'][class*='input-error'] {
    border-color: $error;
}
